composer.lock
vendor/*
.env
.env.local
.env.*.local
.idea/
.DS_Store
public/storage
storage/app/*
!storage/app/index.html
storage/framework/data/*
!storage/framework/data/index.html
storage/framework/sessions/*
!storage/framework/sessions/index.html
storage/framework/testing/*
!storage/framework/testing/index.html
storage/framework/views/*
!storage/framework/views/index.html
storage/logs/*
!storage/logs/index.html

bootstrap/cache/*
!bootstrap/cache/index.html